<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceMobile"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://umdbms.no-ip.info/UMElasticWebsite/ServiceMobile.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceMobile" contract="ElasticServiceMobile.IServiceMobile" name="BasicHttpBinding_IServiceMobile"/>
    </client>
  </system.serviceModel>
</configuration>